/* manrope-300 - latin */

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''), url('../fonts/manrope-v3-latin-300.woff2') format('woff2'), url('../fonts/manrope-v3-latin-300.woff') format('woff'), url('../fonts/manrope-v3-latin-300.ttf') format('truetype');
}

/* manrope-regular - latin */

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('../fonts/manrope-v3-latin-regular.woff2') format('woff2'), url('../fonts/manrope-v3-latin-regular.woff') format('woff'), url('../fonts/manrope-v3-latin-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/manrope-v3-latin-600.woff2') format('woff2'), url('../fonts/manrope-v3-latin-600.woff') format('woff'), url('../fonts/manrope-v3-latin-600.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
}

.left-pannel {
  display: flex;
  min-height: 100vh;
  /* justify-content: space-between; */
  width: 100%;
  max-width: 20%;
}

.icon-wrapper {
  background-color: #1d232a;
  width: 80px;
  padding-left: 10px;
}

.icon-wrapper span {
  line-height: 0;
}

.icon-wrapper>div {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 5px 0 0 5px;
}

.icon-wrapper>div.menu-icon {
  padding: 17px 0;
}

.icon-wrapper>div.active {
  background-color: #282e36;
}

.icon-wrapper>div img {
  max-width: 40px;
}

.inbox-wrapper {
  background-color: #282e36;
  width: 100%;
  box-shadow: -2px 0px 0px 0px #282e36;
  color: #fff;
  padding: 0 15px;
}

.left-sub-pannel {
  background-color: #7c8084;
  width: 100%;
  max-width: 20%;
  box-shadow: -2px 0px 0px 0px #282e36;
  min-height: 100vh;
  overflow-y: auto;
}

.center-pannel {
  background-color: #e9eef3;
  width: 60%;
}

.title-call-wrap {
  background-color: #edeff2;
}

.right-pannel {
  width: 100%;
  max-width: 20%;
  /* background-color: #fff;
  box-shadow: -2px 0 1px 0px rgba(0, 0, 0, .1); */
  position: relative;
  z-index: 9;
  min-height: 100vh;
}

.left-pannel span {
  display: inline-block;
  vertical-align: top;
}

.menu-icon {
  margin-top: 15px;
}

.icon-wrapper .menu-icon img {
  max-width: 16px;
}

.inbox-wrapper .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7px;
  margin-top: 9px;
}

.inbox-wrapper .title-wrap img {
  width: 15px;
}

.inbox-wrapper .title {
  font-size: 22px;
}

.people-plus {
  line-height: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.inbox-wrapper .message-list-wrap {
  color: rgba(255, 255, 255, .8);
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  font-size: 14px;
}

.inbox-wrapper .message-list-wrap:last-child {
  border-bottom: none;
}

.inbox-wrapper .m-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  border-radius: 5px;
  margin: 8px 0;
}

.inbox-wrapper .m-list.active {
  background-color: #343c45;
  color: #fff;
}

.search-wrap {
  padding: 18px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  margin-bottom: 10px;
}

.search-wrap form {
  position: relative;
}

.search-wrap form::before {
  position: absolute;
  top: 50%;
  left: 5px;
  content: "";
}

.search-wrap input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .2);
  border: none;
  padding: 0 5px 0 30px;
  color: #fff;
  font-size: 14px;
}

.search-wrap input::placeholder {
  color: #fff;
  opacity: 1;
}

.search-wrap input:-ms-input-placeholder {
  color: #fff;
}

.search-wrap input::-ms-input-placeholder {
  color: #fff;
}

.list {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 18px 15px;
  cursor: pointer;
}

.list:hover {
  background-color: #0084ff;
}

.list {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 18px 15px;
  cursor: pointer;
}

.message-list .list:hover .dotted-time .time {
  opacity: .9;
}

.message-list .profile-pic img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 6px;
}

.message-list .profile-pic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message-list .disc-wrap .name {
  font-size: 16px;
}

.message-list .disc-wrap {
  text-align: left;
}

.message-list .disc-wrap .discription {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(255, 255, 255, .5);
  font-weight: 300;
  white-space: nowrap;
  max-width: 130px;
}

.sub-title {
  color: #a0a4a7;
}

.count {
  color: #fff;
}

.message-list .dotted-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 3px;
}

.message-list .list:last-child {
  margin-bottom: 0;
}

.message-list .dotted-time .time {
  font-size: 11px;
  color: #fff;
  opacity: .2;
}

.title-call-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  top: 0;
  width: 40%; */
  background-color: #e9eef3;
  padding-left: 25px;
  height: 78px;
  border-bottom: 1px solid #d4d9dd;
  z-index: 2;
}

.rate-call-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person-title {
  opacity: .9;
  color: #293037;
  font-size: 14px;
}

.person-title>.msg-person-name {
  color: #293037;
  opacity: 1;
  font-weight: 600;
}

.rate-call-wrap>div {
  width: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  border-left: 1px solid #d4d9dd;
  cursor: pointer;
}

.rate-call-wrap>div img {
  max-width: 18px;
}

.chat-wrap {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  margin-top: 78px;
  padding: 25px 25px;
}

.chat-wrap>.message {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.chat-wrap .message .message {
  max-width: calc(100% - 70px);
  font-size: 16px;
  color: rgba(0, 0, 0, .8);
  position: relative;
  font-weight: 300;
}

.chat-wrap .right {
  justify-content: flex-end;
}

.chat-wrap .left .profile-img-wrap {
  margin-right: 20px;
  text-align: center;
}

.chat-wrap .right .profile-img-wrap {
  margin-left: 20px;
  text-align: center;
}

.chat-wrap .left .message {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, .1);
}

.chat-wrap .right .message {
  color: #fff;
  background-color: #0084ff;
  border-radius: 5px;
  padding: 15px;
}

.chat-wrap .left .message:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 8px solid #fff;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 100%;
  top: 20px;
}

.chat-wrap .right .message:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #0084ff;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 100%;
  top: 20px;
}

.chat-wrap .profile-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-wrap .time {
  font-size: 13px;
  /* color: #d4d9dd; */
  color: #7b7b7b;
}

.tyeing-message-wrap {
  background-color: rgba(255, 255, 255, .8);
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 40%;
  border-top: 1px solid #d4d9dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  z-index: 2;
}

.send-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emoji {
  line-height: 0;
  margin-right: 10px;
}

.type-wrap {
  width: calc(100% - 115px);
}

.type-wrap input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .2);
  border: none;
  padding: 0 5px;
  color: #000;
  font-size: 14px;
  opacity: .7;
}

.type-wrap input::placeholder {
  color: #000;
  opacity: .7;
}

.type-wrap input:-ms-input-placeholder {
  color: #000;
  opacity: .7;
}

.type-wrap input::-ms-input-placeholder {
  color: #000;
  opacity: .7;
}

.profile-name-wrap {
  height: 78px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4d9dd;
}

.subscribe {
  line-height: 0;
  cursor: pointer;
  position: relative;
}

.subscribe:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 4px;
  background-color: #0084ff;
  left: -2px;
  top: -2px;
  border-radius: 50%;
}

.profile-name {
  font-size: 14px;
  color: #293037;
  opacity: .7;
  position: relative;
  padding-right: 12px;
}

.profile-name:after {
  position: absolute;
  content: "";
  ;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #0084ff;
}

.chat-more-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin: 15px 0;
}

.chat-img {
  line-height: 0;
}

.chat-img img {
  width: 20px;
}

.profile-image {
  display: flex;
  padding: 0 25px;
  justify-content: center;
}

.profile-image img {
  width: 100%;
  max-width: 120px;
  border-radius: 50%;
  max-height: 120px;
  object-fit: cover;
  margin-bottom: 25px;
}

.person-name {
  text-align: center;
  padding: 0 25px 25px;
  margin-bottom: 5px;
  border-bottom: 1px solid #d4d9dd;
}

.person-name .name {
  font-size: 20px;
  font-weight: 600;
  color: #293037;
}

.designation {
  color: #293037;
  opacity: .7;
  font-size: 14px;
}

.person-detail {
  padding: 0 25px;
}

.detail-list {
  border-bottom: 1px solid #d4d9dd;
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  font-size: 13px;
  color: #293037;
  opacity: .7;
}

.detail-list:last-child {
  border-bottom: none;
}

.detail-list .title {
  font-weight: 600;
}

.attach {
  line-height: 0;
  cursor: pointer;
}

.tyeing-message-wrap .send {
  line-height: 0;
}

@media all and (max-width:1199px) {
  .left-pannel, .right-pannel, .left-sub-pannel {
    display: none;
  }
  .center-pannel, .title-call-wrap, .tyeing-message-wrap {
    width: 100%;
  }
  .title-call-wrap {
    padding-left: 15px;
    height: 50px;
  }
  .rate-call-wrap>div {
    width: 50px;
    height: 50px;
  }
  .tyeing-message-wrap {
    height: 60px;
    padding: 0 15px;
  }
  .attach {
    width: 12px;
  }
  .tyeing-message-wrap .send {
    width: 30px;
  }
  .chat-wrap {
    padding: 15px;
    margin-top: 50px;
    height: calc(100vh - 100px);
  }
  .chat-wrap .left .message {
    padding: 12px;
  }
  .chat-wrap .profile-img img {
    width: 40px;
    height: 40px;
  }
  .chat-wrap .right .message::after {
    top: 16px;
  }
  .chat-wrap .left .message::after {
    top: 16px;
  }
  /** css for mobile menu */
  .left-pannel>.icon-wrapper {
    display: none;
  }
  .left-pannel>.inbox-wrapper {
    display: none;
  }
  .left-sidebar>.icon-wrapper {
    display: block;
  }
  .left-sidebar>.inbox-wrapper {
    display: block;
    width: calc(100% - 78px);
    max-width: 302px;
  }
  .left-sub-sidebar>.serach-wrapper {
    width: 100%;
    max-width: 380px;
    display: block;
    background-color: #7c8084;
    height: 100vh;
    overflow-y: auto;
  }
  .menu-bar {
    display: block !important;
  }
  .profile-info {
    display: flex !important;
  }
  .profile-info>span>img {
    max-width: 28px;
    margin-top: 6px;
  }
  .profile-name-wrap {
    height: 50px;
  }
  .right-pannel-menu {
    width: 100%;
    max-width: 380px;
    background-color: #fff;
    box-shadow: -2px 0 1px 0px rgba(0, 0, 0, .1);
    float: right;
    height: 100vh;
  }
  .profile-name {
    cursor: pointer;
  }
}

/** css for mobile menu */

.left-sidebar {
  display: flex;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  max-width: 100%;
  z-index: 99;
  transition: all 0.5s ease 0s;
  background: rgba(0, 0, 0, 0.3);
}

.left-sub-sidebar {
  display: block;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  max-width: 100%;
  z-index: 99;
  transition: all 0.5s ease 0s;
  background: rgba(0, 0, 0, 0.3);
}

.right-sidebar {
  display: block;
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  width: 100% !important;
  max-width: 100%;
  z-index: 99;
  transition: all 0.5s ease 0s;
  background: rgba(0, 0, 0, 0.3);
}

@media all and (min-width:1199px) {
  .right-sidebar {
    display: none;
  }
}

.menu-bar {
  display: none;
}

.rate-call-wrap>.profile-info {
  display: none;
}

@media all and (max-width:460px) {
  .person-title {
    display: grid;
  }
}